<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{style.css}" href="../static/style.css"
          rel="stylesheet">
    <title>Reviews of Childhood Pets</title>
</head>
<body>

<div class="container">
    <section class="grid-item grid-item-1">
        <header>
            <h1>Review List of Childhood Pets</h1>
        </header>
    </section>

    <section class="grid-item grid-item-2">
        <main>
            <p>
                Welcome to my review site for childhood pets.
            </p>
            <p id="center">
                Click on a pet name for their review:
            </p>
            <ul>
                <li th:each="review : ${reviewsModel}">
                    <a th:href="@{/review(id=${review.id})}" th:text="${review.name}"></a>
                </li>
            </ul>
            <p>
                Submit a pet using the form below:
            </p>
            <form th:action="@{/reviews}" method="post" th:object="${review}">
                <p>
                    <label>Pet Name:</label>
                    <br>
                    <input type="text" th:field="*{name}" />
                </p>
                <p>
                    <label>Id:</label>
                    <br>
                    <input type="text" th:field="*{id}" />
                </p>
                <p>
                    <label>Pet info and rating:</label>
                    <br>
                    <textarea rows="5" cols="15" th:field="*{verdict}"></textarea>
                </p>
                <p>
                    <input type="submit" value="Submit" />
                </p>
            </form>
        </main>
    </section>
</div>

</body>
</html>